ErrorDocument 400 /err.html
ErrorDocument 401 /err.html
ErrorDocument 403 /err.html
ErrorDocument 404 /err.html

<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f


RewriteRule ^(.*)$ index.php/$1 [QSA,NE,PT,L] 
</IfModule>