@charset "utf-8";
body,html,#login_main{
    height: 100%;
}
button{
    width: 380px;
    padding: 10px;
    border: none;
    background-color:  #9e100d;
    color: #FFF;
    font-family: "姚体";
}
input{
    width: 360px;
    padding: 10px;
    margin: 10px;
    border: none;
}
#login_main{
    display: flex;
    justify-content: center;
    align-items: center;
}
#login_box{
    /*height: 320px;*/
    text-align: center;
}
#login_box>div{
    width: 100%;
}
#logo_circle_128{
    margin: auto;
}

.input_err{
    animation-name: form_err;
    animation-direction: 2s;
    -webkit-animation-duration:2s;
    animation-timing-function: ease-out;
    animation-iteration-count:infinite;
    animation-play-state: running;

    border: 2px #FCC solid;
        padding: 8px;
        background-color: #FFF;
}
.input_success{
    animation-name: form_success;
    animation-direction: 9s;
    -webkit-animation-duration:9s;
    animation-timing-function: ease-out;
    animation-iteration-count:1;
    animation-play-state: running;

    border: 2px #9F9 solid;
        padding: 8px;
        background-color: #FFF;
}
.input_warm{
    animation-name: form_warm;
    animation-direction: 5s;
    -webkit-animation-duration:5s;
    animation-timing-function: ease-out;
    animation-iteration-count:2;
    animation-play-state: running;

    border: 2px #FF9 solid;
        padding: 8px;
        background-color: #FFF;
}